import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

def read_data_from_csv():
    comments=pd.read_csv('comments.csv')
    return comments


def data_cleaning():
    #DO NOT REMOVE FOLLOWING LINE
    #call remove_unwanted_columns() function to get dataframe
    comments=read_data_from_csv()

    #Remove Unwanted columns
    
    
    
    #rename columns, only these columns are allowed in the dataset
    # 1.	id
    # 2.	comment_text
    # 3.	user_id
    # 4.	photo_id
    # 5.	created_at
    
    #export cleaned Dataset to newcsv file named "comments_cleaned.csv"
    comments.to_csv('comments_cleaned.csv')
    return comments


#Do not Delete the Following function
def task_runner():
    data_cleaning()

task_runner()

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
import os

## Comments

In [33]:
def read_data_from_csv():
    comments=pd.read_csv(r"C:\Users\Ramakrishna\Desktop\Instant Project\comments.csv")
    return comments

In [34]:
read_data_from_csv()

,id,comment,User id,Photo id,created Timestamp,posted date,emoji used,Hashtags used count
0,1,unde at dolorem,2,1,13-04-2023 08:04,Apr-14,yes,1
1,2,quae ea ducimus,3,1,13-04-2023 08:04,Apr-14,no,2
2,3,alias a voluptatum,5,1,13-04-2023 08:04,Apr-14,no,4
3,4,facere suscipit sunt,14,1,13-04-2023 08:04,Apr-14,yes,2
4,5,totam eligendi quaerat,17,1,13-04-2023 08:04,Apr-14,yes,1
...,...,...,...,...,...,...,...,...
7483,7484,accusamus vel est,82,257,13-04-2023 08:04,Apr-14,no,5
7484,7485,sit nulla qui,91,257,13-04-2023 08:04,Apr-14,no,6
7485,7486,sed quidem vitae,93,257,13-04-2023 08:04,Apr-14,yes,2
7486,7487,dolorem eveniet rerum,95,257,13-04-2023 08:04,Apr-14,yes,1
7487,7488,dolores nihil voluptas,96,257,13-04-2023 08:04,Apr-14,no,3

In [37]:
def data_cleaning():
    #DO NOT REMOVE FOLLOWING LINE
    #call remove_unwanted_columns() function to get dataframe
    comments=read_data_from_csv()

    #Remove Unwanted columns
    comments.drop(['posted date','emoji used','Hashtags used count'],inplace=True,axis=1)

    #rename columns, only these columns are allowed in the dataset
    # 1.	id
    # 2.	comment_text
    # 3.	user_id
    # 4.	photo_id
    # 5.	created_at
    column_name={'id':'id','comment':'comment_text','User  id':'user_id','Photo id': 'photo_id','created Timestamp':'created_at'}
    comments=comments.rename(columns=column_name)
    
    #export cleaned Dataset to newcsv file named "comments_cleaned.csv"
    comments.to_csv('comments_cleaned.csv')
    return comments

In [38]:
data_cleaning()

        id            comment_text  user_id  photo_id        created_at
0        1         unde at dolorem        2         1  13-04-2023 08:04
1        2         quae ea ducimus        3         1  13-04-2023 08:04
2        3      alias a voluptatum        5         1  13-04-2023 08:04
3        4    facere suscipit sunt       14         1  13-04-2023 08:04
4        5  totam eligendi quaerat       17         1  13-04-2023 08:04
...    ...                     ...      ...       ...               ...
7483  7484       accusamus vel est       82       257  13-04-2023 08:04
7484  7485           sit nulla qui       91       257  13-04-2023 08:04
7485  7486        sed quidem vitae       93       257  13-04-2023 08:04
7486  7487   dolorem eveniet rerum       95       257  13-04-2023 08:04
7487  7488  dolores nihil voluptas       96       257  13-04-2023 08:04

[7488 rows x 5 columns]

## follows