def read_data_from_csv():
    follows=pd.read_csv('follows.csv')
    return follows


def data_cleaning():
    #DO NOT REMOVE FOLLOWING LINE
    #call remove_unwanted_columns() function to get dataframe
    follows=read_data_from_csv()

    #Remove Unwanted columns
    
    
    
    #rename columns, only these columns are allowed in the dataset
    # 1.	follower_id
    # 2.	followee_id
    # 3.	created_at
    
    #export cleaned Dataset to newcsv file named "follows_cleaned.csv"
    follows.to_csv('follows_cleaned.csv')
    return follows


#Do not Delete the Following function
def task_runner():
    data_cleaning()

task_runner()

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
def read_data_from_csv():
    follows=pd.read_csv(r"C:\Users\Ramakrishna\Desktop\Instant Project\follows.csv")
    return follows

In [3]:
read_data_from_csv()

,follower,followee,created time,is follower active,followee Acc status
0,2,1,13-04-2023 08:04,1,Private
1,2,3,13-04-2023 08:04,0,private
2,2,4,13-04-2023 08:04,0,public
3,2,5,13-04-2023 08:04,0,private
4,2,6,13-04-2023 08:04,1,private
...,...,...,...,...,...
7618,100,95,13-04-2023 08:04,1,public
7619,100,96,13-04-2023 08:04,1,Private
7620,100,97,13-04-2023 08:04,1,private
7621,100,98,13-04-2023 08:04,1,public
7622,100,99,13-04-2023 08:04,1,private

In [4]:
read_data_from_csv().columns

Index(['follower', 'followee ', 'created time', 'is follower active',
       'followee Acc status'],
      dtype='object')

In [13]:
def data_cleaning():
    #DO NOT REMOVE FOLLOWING LINE
    #call remove_unwanted_columns() function to get dataframe
    follows=read_data_from_csv()

    #Remove Unwanted columns
    follows.drop(['is follower active','followee Acc status'],axis=1,inplace=True)
    
    
    #rename columns, only these columns are allowed in the dataset
    # 1.	follower_id
    # 2.	followee_id
    # 3.	created_at
    column_name={'follower':'follower_id','followee ':'followee_id','created time':'created_at'}
    follows=follows.rename(columns=column_name)
    
    #export cleaned Dataset to newcsv file named "follows_cleaned.csv"
    follows.to_csv('follows_cleaned.csv')
    return follows

In [14]:
data_cleaning()

      follower_id  followee_id        created_at
0               2            1  13-04-2023 08:04
1               2            3  13-04-2023 08:04
2               2            4  13-04-2023 08:04
3               2            5  13-04-2023 08:04
4               2            6  13-04-2023 08:04
...           ...          ...               ...
7618          100           95  13-04-2023 08:04
7619          100           96  13-04-2023 08:04
7620          100           97  13-04-2023 08:04
7621          100           98  13-04-2023 08:04
7622          100           99  13-04-2023 08:04

[7623 rows x 3 columns]